html {
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: darkslategrey;
}

.container {
    max-width: 1160px;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {

}

.list .item {
    /*outline: 2px solid red;*/
    background-color: red;
    width: 500px;
}

.list .item:not(:last-child) {
    margin-right: 40px;

}
.status {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cardBody {
    /*display: flex;*/
    /*gap: 10px;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*width: 33%;*/
    /*margin-bottom: 20px;*/
    /*padding: 10px;*/

}

.cardBody img {

}

.cardBody button {


}

.cardBody p {

}

.btn {
    color: black;
}

.detail {

}

.cardHeader {

}