.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: darkslategrey;
}

.list {
    list-style: none;
}

.item {


}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.status {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cardBody {
    display: flex;
    gap: 10px;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;

}

.cardBody img {
    max-width: 100%;
    margin-bottom: 10px;
}

.cardBody button {
    order: -1;

}

.cardBody p {
    text-align: center;
    max-width: 100%;
}

.btn {
    color: black;
}

.detail {

}


.cardHeader {

}